.body{
    margin:0
}

@media screen and (min-width: 500px) {
    nav {
        margin: auto 10%;
    }

    nav ul {
        justify-content: flex-end;
        align-content: center;
    }

    nav ul li a {
        font-size: 1.5em;
    }

    #add-button {
        font-size: 1.2em;
    }

    .carrusel {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .carrusel ul {
        list-style: none;
        margin: 50px;
        padding: 0;
        max-width: 510px;
        scroll-behavior: auto;
        gap: 20px;
    }

    .carrusel-photos {
        display: flex;
        overflow: hidden;
        align-items: center;
        object-fit: contain;
    }

    .carrusel-photos img {
        width: 500px;
        height: 400px;
        border-radius: 3px;
        object-fit: contain;
        /* border: solid; */
        /* gap: 500px; */
    }

    .carrusel-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    #user-page, #addres-page, #shipping-page, #details-page {
        font-size: 1.2em;
    }

    #shipping-page h3 {
        text-align: center;
        margin: auto 10%;
    }

    #submitButton {
        width: 60%;
        margin: auto 20%;
    }

    footer {
        min-height: 50px;
        padding: 10px 50px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }

    .carrusel {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #submitButton {
        width: 40%;
        margin: auto 30%;
    }

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2em;
    }
}