body{
    width: 100%;
    margin: 0 auto;
}


/*Aside bar*/
.user-container {

}

form{
    display:flex;
    flex-flow: column;
    gap: .6em .3em;
    width: 70%;
    margin: 0 auto;
}

aside{
    display: flex;
    flex-flow: column ;
}

input{
    text-align: center;
}

aside > p{
    text-align: center;
}

.button-div{
    display: flex;
    justify-content: space-around;
}

.button-div button{
    margin-top: 50px;
    width: 20%;
    background-color:#88e6e9;
    border-radius: 7px;
}

.aside-bar img{
    width: 95%;
    margin: 1em auto 2em auto;
}